* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/bg.jpg");
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.dog_box {
    position: relative;
    width: 100%;
    left: 0;
    font-size: 0;
    margin: 20px;
}

li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
    list-style: none;

}

a img {
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 20%;
}

.mask {
    position: absolute;
    display: block;
    top: 100px;
    left: auto;
    width: 600px;
    height: 600px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    border-radius: 20%;
    opacity: 0;
}

.mask img {
  width: 600px;
  height: 600px;
  text-align: center;
    
}

.dog_box li a:hover .mask  {
    opacity: 1;
    transition: 0.5s;
}

.left_btn {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-image: url("../image/left-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.right_btn {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-image: url("../image/right-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
}